/* Add CSS Styling */

- **The first element**: a black background and white text
- **The second element**: a yellow background
- **Both elements**: a font size of 28px and a list of fonts containing `Helvetica` and `Times New Roman`, with `sans-serif` as a fallback


.firstclass, .secondclass{
    font-size: 28px;
    font-family:Helvetica, "Times New Roman" , sans-serif;
    
}

.firstclass{
    background-color: black;
    color: white;
}

.secondclass{
    background-color: yellow;
}